

.form-layout {
    background-color: rgb(255, 236, 236);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
}

.form-content-right{
    display: flex;
    flex-direction: column;
}

.header-card {
    max-height: 22.448126801152736vw;
    background-image: url(https://lh5.googleusercontent.com/_zWaCepfy4LZ-T_AbIr_fpYqFrcaWtS1dJOEhNTGUs4jV1kJFNu8Wu7XdIzRO45JpgIVu9P1LRD-EQFB8aKocj36DUYkKFmtsXhhj431-JoOztZ-PzYvwlsSswx-wktsbw=w6940);
    max-width: 90vw;
    height: 159.63112391930835px;
    width: 640px;
    background-size: cover;
    background-position: center;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 430px;
    align-items: center;
}

.content{
    margin: auto;
    max-width: 90vw;
    width: 640px;
}

.heading{
    font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #202124;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.description p{
    white-space: pre-wrap;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin-top: 12px;
    text-align: left;
}

.required-info p{
    color: #d93025;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    margin-top: 12px;
}

.description{
    background-color: #fff;
    border-color: #d93025;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    page-break-inside: avoid;
    word-wrap: break-word;
    color: #202124;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.12);
}

input:focus{
    border-bottom: 2px solid #d93025;  
    outline: none;
}

.form-inputs{
    background-color: #fff;
    border-color: #d93025;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    page-break-inside: avoid;
    word-wrap: break-word;
    color: #202124;
}

.form-inputs .error-alert{
    color: #d93025;
    font-size: 13px;
}

.form-inputs .asterisk-required{
    color: #d93025;
}

.form-inputs input p{
    color: #d93025;
}

.form-inputs .query-descriptions{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: #202124;
    line-height: 135%;
    margin-top: 4px;
    width: 100%;
}

.form-input-btn{
    background-color: rgb(232, 34, 34);
    margin-right: 14px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    min-width: auto;
    outline: none;
    overflow: hidden;
    /* position: relative; */
    text-align: center;
    z-index: 0;
    padding: 0 24px;
}

.footnotes-form{
    /* text-align: center; */
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: rgba(0,0,0,0.66);
    margin-top: 8px;
}

.footnotes{
    text-align: center;
    color: rgba(0, 0, 0, 0.66);
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 16px 0;
    padding: 0 16px;
}

.links{
    color: rgba(0, 0, 0, 0.66);
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.google-forms-link{
    color: black;
    opacity: .26;
}

.google-forms-link img{
    border: none;
    color: black;
}

.google-forms-link .forms-text{
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    font-size: 22.1px;
    position: relative;
    top: -6px;
    text-rendering: optimizeLegibility;
    color: black;
    /* opacity: .26; */
}

body {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: left;
}